
<div class="wrapper">
<div id="formContent">
  <div class="fadeIn first">
    <img src="/assets/lablogo.jpg" style="max-width: 200px" id="icon" alt="User Icon" />
  </div>
  
  <div class="welcome">{{ 'welcome' | translate }} {{model.name}}!</div>

  <div class="clock">{{today}}</div>

  <!--<div>
    ><textarea type="text" class="fadeIn fourth" value="Comments" placeholder="{{'comments' | translate}}"></textarea>
  </div>-->
    
      <div class="register"> 
       <button type="submit" class="checkin" (click)="onSubmitIn()" ><!--[routerLink]= "['/login']" disabling router to login page for friday presentation. 
        Please uncomment it before going into production-->{{ 'checkin' | translate }}</button>
        <p class="reminder">{{ 'checkin.reminder' | translate }}</p>
    
      <button type="submit" class="checkout" (click)="onSubmitOut()" [routerLink]= "['/login']">{{ 'checkout' | translate }}</button>
      <p class="reminder">{{ 'checkout.reminder' | translate }}</p>
  

  


    </div>
 
</div>
    
   



    