
<div class="wrapper">
<div id="formContent">
  <div class="fadeIn first">
    <img src="/assets/lablogo.jpg" style="max-width: 200px" id="icon" alt="User Icon" />
  </div>
  
  <div class="welcome">Welcome {{model.name}}!</div>

  <div class="clock">{{today}}</div>



    <div>
      <textarea type="text" class="fadeIn fourth" value="Comments" placeholder="Please add your comments here"></textarea>
      </div>
      <div class="register"> 
       <button type="submit" class="checkin" (click)="onSubmitIn()">Check In</button>
    
      <button type="submit" class="checkout" (click)="onSubmitOut()">Check Out</button>
  
  

  


    </div>
</div>
    
   



    