
<div class="wrapper">
<div id="formContent">
  <div class="fadeIn first">
    <img src="/assets/lablogo.jpg" style="max-width: 200px" id="icon" alt="User Icon" />
  </div>
  
  <div class="welcome">{{ 'welcome' | translate }} {{model.name}}!</div>

  <div class="clock">{{today}}</div>



    
      <div class="register"> 
       <button type="submit" class="checkin" (click)="onSubmitIn()">{{ 'checkin' | translate }}</button>
    
      <button type="submit" class="checkout" (click)="onSubmitOut()">{{ 'checkout' | translate }}</button>
  
  

  


    </div>
</div>
    
   



    