


<div class="wrapper fadeInDown">
    
  <div id="formContent">
      <div class="fadeIn first">
          <img src="/assets/lablogo.jpg" style="max-width: 200px" id="icon" alt="User Icon" />
        </div>
  <form #userForm="ngForm">
    <!-- <div class="form-group"> -->
      <input type="email" class="fadeIn second" placeholder="email" id="name" ng-pattern=".+@osapiens.com" size ="40"  
      [(ngModel)]="model.name" name="email" #email="ngModel" pattern= "@" required/>

    <div *ngIf="email.invalid && (email.dirty || email.touched)"
      class="alert alert-danger">
      <div *ngIf="email.errors?.pattern">
        {{ 'pattern' | translate }}
      </div>

            <div *ngIf="email.errors.required">
              {{ 'mail.empty' | translate }}
            </div>
            <div *ngIf="email.errors.minlength">

              {{ 'mail.short' | translate }}
              </div>
    </div>
      
    <!--  </div> -->

    <!-- <div class="form-group"> -->
  
      <input type="text" class="fadeIn third" placeholder="{{ 'password' | translate }}" id="password" required minlength="4"
      [(ngModel)]="model.password" name="password"  #password="ngModel" required />

      <div *ngIf="password.invalid && (password.dirty || password.touched)"
         class="alert alert-danger">

          <div *ngIf="password.errors.required">
              {{ 'pass.empty' | translate }}
            </div>
                <div *ngIf="password.errors.minlength">
                    {{ 'pass.short' | translate }}
                </div>
              

       </div>
      
     <!--  </div> -->
     <div>
        <button type="button" type="submit" [routerLink]="['/report']" class="fadeIn fourth" (click)="onSubmit()" [disabled]="!userForm.valid" >Login</button>
     </div>


    

  </form>
</div>
</div>

