


<div class="wrapper fadeInDown">
    
  <div id="formContent">
      <div class="fadeIn first">
          <img src="/assets/lablogo.jpg" style="max-width: 200px" id="icon" alt="User Icon" />
        </div>
  <form #userForm="ngForm">
    <!-- <div class="form-group"> -->
      <input type="email" class="fadeIn second" placeholder="email" id="name" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" size ="40"  
      [(ngModel)]="model.name" name="email" #email="ngModel" required/>

    <div *ngIf="email.invalid && (email.dirty || email.touched)"
      class="alert alert-danger">
      

      <div *ngIf="email.errors?.pattern">
        {{ 'pattern' | translate }}
      </div>

            <div *ngIf="email.errors.required">
              {{ 'mail.empty' | translate }}
            </div>
            <div *ngIf="email.errors.minlength">

              {{ 'mail.short' | translate }}
              </div>
    </div>
    
      
    <!--  </div> -->

    <!-- <div class="form-group"> -->
  
      <input type="password" class="fadeIn third" placeholder="{{ 'password' | translate }}" id="password" required minlength="1"
      [(ngModel)]="model.password" name="password"  #password="ngModel" required />

      <div *ngIf="password.invalid && (password.dirty || password.touched)"
         class="alert alert-danger">

          <div *ngIf="password.errors.required">
              {{ 'pass.empty' | translate }}
            </div>
                <div *ngIf="password.errors.minlength">
                    {{ 'pass.short' | translate }}
                </div>
              

       </div>
      
     <!--  </div> -->
     <div>
        <button type="button" type="submit" class="fadeIn fourth" (click)="onSubmit()" [disabled]="!userForm.valid" >Login</button>
     </div>

  </form>

  <div class="fadeIn second">
   <p class="reminder">{{ 'credentials' | translate }}</p>
  </div>
</div>

</div>

